aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.25.2
motor
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
git+https://github.com/SHIVANIxBOTZ/pyrogram@dev
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp==2025.1.30.232843.dev0
youtube-search
git+https://github.com/Kanha-XD/youtube-search-python
nekos.py
